/dist
/.cabal-sandbox*
**/.stack-work
.*.swp
*.pyc
*.sublime-workspace
cabal.sandbox.config
/env-scripts/specific
\#*\#
\.\#*
examples/**/*.hi
examples/**/*.o
examples/**/Main
examples/**/_priv
examples/simple_tcp_server/simple_tcp_server
examples/simple_tls_server/simple_tls_server
examples/simple_http_server/simple_http_server
examples/socks5_tcp_server/socks5_tcp_server
